* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MontserratT";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "MontserratT";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}
html {
  font-family: "MontserratT";
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-section {
  position: relative;
  min-height: 800px;
  background: #f0f0f0;
  padding-top: 16px;
  overflow: hidden;
  margin-bottom: 32px;
}
.main-section__header img {
  height: 69px;
}
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}
.main-section__content-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.main-section__first-elipse {
  position: absolute;
  top: 129px;
  right: 0px;
}
.main-section__second-elipse {
  position: absolute;
  top: 650px;
  right: -120px;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
}
.nav-menu__list-item:last-child {
  margin-right: 0;
}
.nav-menu__list-item a {
  text-decoration: none;
  color: black;
}

.left-wrapper {
  position: relative;
}
.left-wrapper img {
  position: relative;
  z-index: 4;
}
.left-wrapper__rectangle-blue {
  width: 565.95px;
  height: 220px;
  background: #5290EA;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 150px;
  left: -50px;
  transform: rotate(-64deg);
  z-index: 2;
}
.left-wrapper__rectangle-orange {
  width: 618.43px;
  height: 220px;
  background: #F28B64;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 160px;
  left: -30px;
  transform: rotate(-50.81deg);
  z-index: 3;
}
.left-wrapper__rectangle-white {
  width: 618.43px;
  height: 220px;
  background: #E2E2E2;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 190px;
  left: 10px;
  transform: rotate(-36.15deg);
  z-index: 1;
}

.right-wrapper {
  width: 372px;
  position: absolute;
  top: 150px;
  left: 760px;
  z-index: 1;
}
.right-wrapper__icons-box {
  margin-bottom: 1px;
  padding-left: 10px;
}
.right-wrapper__title {
  margin-bottom: 5px;
}
.right-wrapper__text {
  font-size: 16px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
}
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5290EA;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  font-size: 21px;
  margin-right: 17px;
}
.icons__item:last-child {
  margin-right: 0;
}

.title {
  font-size: 72px;
  font-weight: bold;
}
.title__line {
  border: 0.5px solid;
  width: 65px;
}

.button {
  display: flex;
  flex-direction: row;
}
.button__main-btn {
  width: 200px;
  height: 60px;
  background: #F28B64;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 32px;
}
.button__icon-btn {
  width: 140px;
  display: inline-flex;
  align-items: center;
}
.button__icon-btn img {
  margin-right: 12px;
}

.elipse {
  width: 194px;
  height: 194px;
  background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elipse_big {
  width: 282px;
  height: 282px;
}
.elipse__sub-elipse {
  width: 129.33px;
  height: 129.33px;
  background: #f0f0f0;
  border-radius: 200px;
}
.elipse__sub-elipse_big {
  width: 188px;
  height: 188px;
}

.second-section {
  min-height: 700px;
  position: relative;
}
.second-section__title {
  margin-bottom: 40px;
}
.second-section__cards-item {
  margin-right: 30px;
}
.second-section__cards-item:last-child {
  margin-right: 0px;
}
.second-section__cards-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}
.second-section__icons-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.second-section__first-elipse {
  position: absolute;
  top: 80px;
  right: 60px;
}
.second-section__second-elipse {
  position: absolute;
  top: 364px;
  left: 60px;
}

.cards-item {
  position: relative;
  width: 360px;
  height: 360px;
  border-radius: 10px;
  display: flex;
  align-items: end;
}
.cards-item_white {
  background: #E2E2E2;
}
.cards-item_orange {
  background: #F28B64;
}
.cards-item_blue {
  background: #5290EA;
}
.cards-item__text {
  width: 280px;
  position: absolute;
  font-size: 36px;
  transform: rotate(90deg);
  text-align: center;
  top: 141px;
  right: -38px;
  font-weight: bold;
}

.icons-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icons-item img {
  margin-right: 20px;
  width: 80px;
}
.icons-item__text {
  font-size: 16px;
}
.icons-item__text span {
  font-size: 48px;
  font-weight: bold;
}

.white {
  background: white;
  background: #f0f0f0;
}

.third-section {
  min-height: 640px;
  background: #f0f0f0;
  position: relative;
  overflow: hidden;
}
.third-section__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 167px;
  justify-content: space-between;
  padding-top: 46px;
}
.third-section__left-wrapper {
  position: relative;
  z-index: 2;
}
.third-section__left-wrapper img {
  position: absolute;
  top: -35px;
  left: -150px;
}
.third-section__right-wrapper {
  max-width: 480px;
}
.third-section__title {
  margin-bottom: 20px;
}
.third-section__text {
  margin-bottom: 30px;
  font-size: 18px;
}
.third-section__first-elipse {
  position: absolute;
  top: -140px;
  right: -130px;
}
.third-section__second-elipse {
  position: absolute;
  top: 100px;
  left: 253px;
}

.footer {
  position: relative;
}
.footer__container {
  min-height: 272px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__title {
  margin-bottom: 20px;
}
.footer img {
  position: absolute;
  left: 0px;
  bottom: 0;
}/*# sourceMappingURL=style.css.map */